* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hdr-wrapper {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3%;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.25);
    height: 96px;
}

.hdr-logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: 8%;
    text-decoration: none;
    color: black;
}

.hdr-nav-text {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
}

.hdr-nav-text:hover {
    color: #6366f1;
}

.hdr-nav {
    display: flex;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    min-width: 200px;
    margin-right: 3%;
}

.hdr-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.hdr-search-container {
    flex-shrink: 0;
}
